@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root{
    --primary: #B9ED64;

    --body: #2B3229;
    --body-non-active: #475344;

    --black: #222222;
    --black-non-active: #333333;

    --white: #FFFFFF;
    --white-non-active: #CCCCCC;

    --btn: #252525;
    --mirror: rgba(37, 37, 37, 50%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Kanit', sans-serif !important;
}

.txt-primary{
    color: var(--primary);
}

.btn{
    text-decoration: none;
    letter-spacing: 1.5px;
    white-space: nowrap;
    user-select: none;
}

.main-btn{
    color: var(--primary);
    font-weight: 700;

    padding: 5px 30px;
    position: relative;
}

.main-btn::before, 
.main-btn::after{
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid var(--primary);

    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.25s ease-out;
}

.main-btn::before{
    transform: translate(2.5px, -2.5px);
}

.main-btn::after{
    transform: translate(-2.5px, 2.5px);
}

.main-btn:hover{
    background-color: var(--primary);
    color: var(--black);

    transition: all 0.25s linear 0.25s;
}

.main-btn:hover::before,
.main-btn:hover::after{
    transform: translate(0px);
}

.normal-btn{
    color: var(--primary);
    font-weight: 700;
   
    padding: 5px 20px;
    border: 2px solid var(--primary);
}

.normal-btn:hover{
    background-color: var(--primary);
    color: var(--black);
}

.icon-btn{
    width: 35px;
    height: 35px;
    background-color: var(--black-non-active);

    font-size: 15px;
    border-radius: 10px;
    
    display: grid;
    place-items: center;
}

.btn-sm{
    font-size: 10px;
}

.section{
    position: relative;
}

.link-hover{
    color: var(--white-non-active);
}

.link-hover:hover{
    color: var(--primary);
}

/* Start Navbar Section */

.navbar-nav{
    position: relative;
}

.nav-link{
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;

    padding: 5px 25px;
}

.nav-link:hover{
    opacity: 1 !important;
}

.nav-txt{
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-left: 5px;
}

.nav-pointer{
    width: 10px;
    height: 10px;
    background-color: var(--primary);
    border-radius: 50%;

    position: absolute;
    z-index: 1;
    transform: translateY(-50%);

    transition: all 0.25s ease-out;
}


@media (max-width: 900px){
    .navbar-nav{
        background-color: var(--btn);
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0 2.5px 0 var(--mirror);

        position: fixed;
        right: 20px;
        top: calc(10vh + 20px);
        z-index: 100;
    }
}

/* End Navbar Section */

/* Start Left Side Bar Section */

.left-side-bar-title{
    color: var(--white);
    font-size: 18px;
    margin-bottom: 20px !important;
}

/* End Left Side Bar Section */