@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root{
    --primary-night: #B9ED64;

    --body-night: #2B3229;
    --body-non-active-night: #475344;

    --black: #222222;
    --black-non-active: #444444;

    --white: #FFFFFF;
    --white-non-active: #CCCCCC;

    --btn-night: #252525;
    --mirror-night: rgba(37, 37, 37, 50%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kanit', sans-serif;
}

.navbar-nav{
    background-color: var(--body-night);
}

.nav-link{
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;

    display: flex;
    align-items: center;

    padding: 5px 25px;
}

.nav-link:hover{
    opacity: 1 !important;
}

.nav-txt{
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-left: 5px;
}

.nav-pointer{
    width: 10px;
    height: 10px;
    background-color: var(--primary-night);
    border-radius: 50%;

    position: absolute;
    z-index: 1;
    transform: translateY(-50%);

    transition: all 0.25s ease-out;
}


@media (max-width: 900px){
    .navbar-nav{
        width: 100vw;
        height: 100vh;
        padding: 60px 0;

        position: fixed;
        left: 0;
        top: 0;
    }

    .nav-txt{
        margin-left: 15px;
    }
}